.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.name, .nav-link {
    color: white;
}



.nav-link {
    display: flex;
    width: 10rem;
    height: 4rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 1rem;
    border-bottom: 1px solid white;
}

.nav-link:hover {
    font-size: 20px;
    color: white;
    transition: 0.1s;
}

body {
    background-image: url("images/tm-astro-bg.jpg");
}


.khung {
    border: 1px solid white;
}

